.img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.heading {
  color: #0096c7;
  ;
  margin: 0 auto;
  margin-bottom: 50px;
}

.app {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: auto;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  padding: 5px 7px 0;
}

.actor {
  box-shadow: 4px 5px 7px lightgrey;
  border-radius: 15px;
  width: 23%;
  margin-bottom: 30px;
}

p {
  text-overflow: ellipsis;
}

.closeBtn {
  background-color: rgb(248, 106, 106);
  border: none;
  border-radius: 5px;
  color: white;
}

.poster {
  width: 120px;
  margin: 10px;
  border-radius: 8px;
}

.pop-up-img {
  width: 150px;
  border-radius: 10px;
  box-shadow: 4px 5px 7px lightgrey;
}

.popularity {
  margin: 20px 0 10px 0;
}

.moviesList {
  text-align: center;
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 4px 5px 7px lightgrey;
}

.modal-body {
  text-align: center;
}